name: CI/CD Pipeline

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  backend-test:
    runs-on: ubuntu-latest
    
    steps:
    - uses: actions/checkout@v3
    
    - name: Set up Python
      uses: actions/setup-python@v4
      with:
        python-version: '3.11'
        
    - name: Install Dependencies
      run: |
        cd backend
        python -m pip install --upgrade pip
        pip install -r requirements.txt
        pip install flake8 pytest
        
    - name: Lint with flake8
      run: |
        # stop the build if there are Python syntax errors or undefined names
        flake8 backend/app --count --select=E9,F63,F7,F82 --show-source --statistics
        # exit-zero treats all errors as warnings.
        flake8 backend/app --count --exit-zero --max-complexity=10 --max-line-length=127 --statistics
        
    # - name: Run Tests
    #   run: |
    #     cd backend
    #     pytest

  build-docker:
    needs: backend-test
    runs-on: ubuntu-latest
    
    steps:
    - uses: actions/checkout@v3
    
    - name: Build Backend Docker Image
      run: docker build ./backend -t redis-scheduler-backend:latest
      
    - name: Build Frontend Docker Image
      run: docker build ./frontend -t redis-scheduler-frontend:latest
